.center-vertical-horizontally{height:400px !important;}
.dealernetwork-container{	
	background: url('../img/dealer-network-banner-1.png') center no-repeat;
	background-size: cover;
}
.dealernetwork-warp{
	height: calc(100vh);
    padding: 0;
    margin: auto;
    max-width: 900px;
    vertical-align: middle;
    display: grid;
}
.dealerNetwork-banner{width:250px;margin:auto;}
.dealerNetwork-banner img{width:100%;}
.dealernetwork-container h1{
    text-align: center;
    margin: 40px 0 0;
    color: #ffffff;
    font-size: 80px;
    font-weight: 400;
}
.dealernetwork-container h3{
	text-align: center;    
    color: #ffffff;    
    font-weight: 300;
	margin-bottom:50px;
}
.joinnow-btn{
	width: 250px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 30px;
    margin: auto;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}
.dealer-form{width:100%;margin:0;}
.dealer-frm-group{padding: 10px 15px;border-right: 1px solid #ccc;border-bottom:1px solid #ccc;}
.dealer-frm-group:last-child{border-right:none;padding:0;}
.dealer-frm-group input{border: none;}
.dealer-frm-btn{
	border-radius: 0;
    width: 100%;
    height: 68px;
    background: #45A6B6;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 68px;
    cursor: pointer;}
.dealer-frm-btn:hover{
	background: #E09177;
}
.dealer-benefit-cont{
	padding:100px 0;
}
.dealer-benefit-cont h1{
	text-align: center;
    margin: 0 0 60px 0;
    font-weight: 400;
    font-size: 50px;
	color: #000;
}
.dealer-benefit-cont h1>a{
	color:#707070;
}
.dealer-benefit-cont h1>a:hover{
	text-decoration:none;
}
.benefit-item{
	margin: 0 30px 30px 30px;
	background:#fff;
	border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}
.benefit-item img{width:150px;padding:20px;}
.benefit-item>div{display: flex;align-items: center;}
.dealernetwork-bottom{
	background: url('../img/dealer-network-banner-2.png') center no-repeat;
	padding:0;position:relative;
	min-height: 300px;
}
.dealernetwork-bottom h1{
	color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}
@media screen and (max-width: 460px) {	
	.dealernetwork-warp{height: 500px;}
	.center-vertical-horizontally{height: 700px !important;}
	.dealernetwork-container h1{font-size: 50px;}
	.dealernetwork-container h3{font-size: 20px;margin-bottom: 20px;}
	.dealer-form-container{display:none;}
	.dealer-benefit-cont{padding: 20px 0;}
	.dealer-benefit-cont h1{font-size: 20px;margin: 0 0 20px 0;}
}
@media screen and (max-width: 400px) {	
	.center-vertical-horizontally{height: 550px !important;}	
}
@media screen and (max-height: 460px) {	
	.dealerNetwork-banner{width: 200px;}
	.dealernetwork-container{background-size: contain;}
	.dealernetwork-container h1{font-size: 50px;}
	.center-vertical-horizontally{height: 300px !important;}	
	.dealernetwork-container h3{font-size: 20px;margin-bottom: 20px;}
}