body {
    font-family: 'Roboto';
    background-color: #F5F5F5;
}

.notification {
    background-color: #027786;
    letter-spacing: 2px;
    line-height: 40px;
}

.notification span {
    color: #FFFFFF;
    font-size: 16px;
}

.read-more {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 0px 5px 1px 5px;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
}

.page-header {
    padding: 20px;
}

.page-header .logo{

}

.page-header .logo img{
    width: 88px;
}

.search-box, .subscribe-box{
    border: 1px solid #45A6B6;
    line-height: 39px;
    background-color: #FFFFFF;
}

.search-box input, .subscribe-box input{
    width: 70%;
    border: none;
    font-size: 18px;
    padding: 0;
    padding-left: 40px;
    color: #000000;
}

.search-box .search-btn, .subscribe-box .subscribe-btn{
    width: 25%;
    float: right;
    text-align: center;
    border-left: 1px solid #45A6B6;
}

.search-box .button, .subscribe-box .button{
    border: none;
    color: #027786;
    padding: 0;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
}

.my-notification, .login {
    font-size: 20px;
    color: #E09177;
    line-height: 40px;
    text-align: center;
}

.menu {
    background: #FFFFFF;
}

.menu .nav-item ul {
    margin-bottom :0;
    line-height: 44px;
}

.menu .nav-item ul li {
    list-style: none;
    display: inline;
    padding: 0 50px;
}

.menu .nav-item ul li a{
    color: #000000;
    font-size: 18px;
}

.banner-slick .banner {
    position: relative;
}

.banner-slick span {
    position: absolute;
    font-size: 32px;
    color: #000000;
    letter-spacing: 2px;
    width: 42%;
    left: 8%;
    top: 20%;
    font-weight: 600;
}

.banner-slick img {
    width: 100%;
}

.section {
    padding: 0 60px;
}

.section1 {
    margin-top: 20px;
}

.section .box {
    background-color: #FFFFFF;
}

.list-home-btn {
    padding: 0;
}

.section1 .home-btn {
    background-color: #45A6B6;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2px;
    padding: 20px 0;
    cursor: pointer;
}

.list-product h6{
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-brand {
    width: 100%;
    border-top: 1px solid #CECECE;
    clear: both;
    float: left;
    border-right: 1px solid #CECECE;
}

.list-brand .brand-btn{
    float: left;
    width: 14.2%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    border-left: 1px solid #CECECE;
}

.list-brand .brand-btn img{
    width: 60px;
}

.list-brand .brand-btn span{
    font-size :15px;
    color: #000000;
}

.content-banner {
    clear: both;
}

.content-banner .banner{
    position: relative;
}

.content-banner .banner img{
    width: 100%;
}

.content-banner .banner span{
    font-size: 35px;
    color: #000000;
    font-weight: 200;
    letter-spacing: 1px;
    position: absolute;
    top: 30%;
    left: 5%;
}

.product-items {
    padding-top: 20px;
}

.product-items .col-md-2 {
    padding-left: 0;
}

.product-item {
    padding-bottom: 10px;
    -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.product-item .bag{
    font-size: 14px;
    background-color: #027786;
    color: #ffffff;
    text-transform: uppercase;
    float: left;
    padding: 2px 10px;
}

.product-item .product-img {
    clear: both;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.product-item .product-img img{
    width: 94px;
    display: initial;
}

.product-item .comming-soon {
    position: absolute;
    top: 30px;
    background-color: #B1B1B1;
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    padding-bottom: 2px;
}

.product-item .comming-soon label {
    margin-bottom: 0;
}

.product-info {
    color: #000000;
}

.product-info span{
    font-size: 14px;
}

.product-info .product-name{
    font-size: 14px;
}

.product-info .des{
    font-size: 12px;
}

.long-btn {
    cursor: pointer;
    text-align: center;
    background-color: #F5F5F6;
    color: #E09177;
    margin: 20px 0;
    line-height: 40px;
}

.popular-search .label, .picks .label{
    color: #000000;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popular-search .search-btn {
    text-align: center;
}

.popular-search .search-btn span{
    font-size: 30px;
    color: #ffffff;
    background-color: #027786;
    padding: 5px 40px;
}

.popular-search .slick-prev {
    left: -25px;
}

.popular-search .slick-next {
    right: -25px;
}

.popular-search .slick-prev:before, .slick-next:before {
    opacity: 1 !important;
}

.haft-banner {
    position: relative;
    margin-top: 20px;
    padding: 0;
}

.haft-banner:first-child {
    padding-right: 20px;
}

.haft-banner:last-child {
    padding-left: 20px;
}

.haft-banner img{
    width: 100%;
}

.haft-banner .banner-des{
    font-size: 19px;
    color: #000000;
    position: absolute;
    top: 30%;
    left: 30px;
}

.haft-banner .banner-des a {
    color: #000000;
}

.picks .product-item {
    width: 84%;
    margin-left: 6%;
    text-align: center;
}

.picks .product-items {
    padding: 40px 60px;
}

.slick-product-item {
    padding-bottom: 2px;
}

.picks .product-item .comming-soon {
    opacity: 0.6;
}

.product-list-items {
    padding: 20px !important;
}

.product-list-item {
    margin-bottom: 25px;
    width: 96% !important;
    margin-left: 10px !important;
    padding-bottom: 0;
}

.product-list-item .product-img {
    padding: 20px 0;
    margin-bottom: 0;
    border-right: 1px solid #CECECE;
}

.product-list-item .product-img img{
    width: 80%;
}

.product-list-item .comming-soon {
    top: 80px;
}

.product-info .price {
    color: #E09177;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
}

.product-info .pro-status {
    text-align: right;
    padding-top: 15px;
}

.pro-status .arrow-price {
    color: #002698;
}

.pro-status .num-bought span {
    background-color: #027786;
    font-size: 14px;
    padding: 3px 10px;
    color: #ffffff;
}

.picks .product-list-item {
    text-align: left;
}

.product-list-item .product-info .product-name {
    font-size: 25px;
    font-weight: 200;
    margin-top: 30px;
}

.product-list-item .dealer {
    color: #707070;
    font-size: 18px;
}

.product-list-item .promotion-button {
    color: #000000;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #FFC2A6;
    text-align: center;
    padding: 5px;
    margin: 10px 0;
}

.subscribe {
    padding-top: 40px;
}

.subscribe .left {
    float: left;
    margin-right: 10px;
}

.subscribe .right .title {
    color: #E09177;
    font-size: 18px;
    font-weight: 700;
}

.subscribe .right {
    padding-top: 40px;
}

.subscribe .right .des {
    color: #000000;
    font-size: 18px;
    font-weight: 200;
}

.subscribe-box {
    margin-top: 50px;
}

.subscribe hr {
    margin-top: 40px;
}

.our-partner h6 {
    font-size: 20px;
    color: #000000;
}

.our-partner .partners {
    margin-bottom: 40px;
}

.our-partner .partners img {
    line-height: 47px;
    margin-right: 20px;
}

.our-partner .payment-methods {
    margin-bottom: 40px;
}