.p-ssm-lable{font-size: 12px;}
.p-sm-lable{font-size: 14px;}
.p-nm-lable{font-size: 18px;}
.p-l-lable{font-size: 30px;}
.p-b{font-weight: 600;}
.p-bold{font-weight: bold;}

.p-gray{color: #707070; font-weight: 300;}
.p-pink{color: #FFC2A6;}
.p-black{color: #434343;}
.p-blue{color: #027786;}
.p-orange{color: #E09177;}


.p-l-0{padding-left: 0;}

.m-t-1{margin-top: 5px;}
.m-t-2{margin-top: 30px;}

.p-button{
    background: #45A6B6;
    color: #FFFFFF;
    border-radius: 0;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 40px;
    margin-top: 10px;
}
/**/
.compare-watch-item{padding:10px 0;border-bottom: 1px solid #dedede;}
.compare-watch-item.last{border-bottom: none;}
/**/
.woocommerce-product-details__short-description tr{border-bottom: 1px solid #cdd4d8;}
.woocommerce-product-details__short-description td {padding: 7px 0;}
.woocommerce-product-details__short-description td:first-child {
    padding-right: 11px;
}
.woo-rating-bars .rating-bar .star-rating-wrap{width: 100px;}

#page-container{background: #FFFFFF; font-family: Helvetica;}
.ws-blue-color{color: #45A6B6;}
.button-border{    background: none;
    border-color: #45A6B6;
    color: #45A6B6;
    padding: 5px 20px;}
.button-bg{    background: #45A6B6;
    color: #FFFFFF;
    padding: 10px 30px;
    font-size: 20px;}
.product-page{padding: 40px; background: #FFFFFF;}
.product-page .left{float: left;}
.p-breakcrumb{color: #737171; margin-bottom: 40px;}
.p-left-top{ padding: 20px 0; }
.p-left-top .pro-name{ line-height: 40px; margin-bottom: 20px; font-weight: bold;}
.p-left-top img{ width: 100%; }
.p-price{ 
    box-shadow: 0px 2px 3px -2px #888;
    border: 1px solid #7BD8E8;}
.p-price .price{padding-left: 0; font-size: 50px; font-weight: 600;}
.alert-price-btn{margin-top: 10px;}
.price-his-menu{margin-top: 15px;}
.price-his-menu .menu-1{width: 160px;     line-height: 25px; font-size: 25px;}
.price-his-menu .high-text{font-size: 20px;
    font-weight: 500;}
.price-his-menu .small-text{font-size: 12px;
    color: #737171;}
.rail-select{    border: 1px solid #EEEEEE;
    padding: 3px 10px;     margin-left: 10px;
    line-height: 27px;}
.rail-select input{border: none; width: 100px;}
.price-his-menu a{    color: #45A6B6;
    line-height: 35px;
    margin: 15px;
padding-bottom: 5px;
text-decoration: none;}
.price-his-menu a:hover{border-bottom: 2px solid;}
.price-his-menu a.active{
	border-bottom: 2px solid;
}
.historical-chart{
	    border-top: 1px solid #EEEEEE;
    margin-top: 20px;
    padding-top: 13px;
}
.p-content{padding: 15px;}
.p-content .nav li{
	border: 1px solid #CCC;
    padding: 10px;
}
.p-content .nav li a{
	    color: #666666;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
}
.p-content .nav li a.active{color: #45A6B6;}

.compare-price-list{padding: 20px 0;}
.compare-price-list .watch-name{
    font-size: 20px;
    font-weight: 500;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 52px;
}
.compare-price-list .watch-price{
	    font-size: 28px;
        line-height: 26px;
        padding-left: 0;
}
.compare-price-list .watch-source{
    line-height: 28px;
}
.compare-price-list .watch-review{}
.compare-block:hover{cursor: pointer;}
.compare-block .watch-name,
.compare-block .watch-price,
.compare-block .watch-source,
.compare-block .watch-review{margin-top: 5px;}
.compare-block-title{padding: 10px 0 30px 0;}
.compare-block{border-top: 1px solid #c5c5c5; padding: 20px 0;
    margin: 0 !important;}
.compare-block .col-md-2{max-width: 12.5%;}
.rh_woo_star .active, .woocommerce .wc-layered-nav-rating .star-rating .rhwoostar.active {
    color: #F0C419; font-size: 13px; padding-right: 5px; display: inline-block;
}

.watch-description{padding: 40px;}


table.shop_attributes {
    font-size: 90%;
    border: 0;
    border-top: 1px dotted rgba(0,0,0,0.1);
    margin-bottom: 1.618em;
    width: 100%;
    max-width: 720px;
}

table.shop_attributes th {
    text-align: right;
    width: 35%;
    font-weight: bold;
    padding: 8px 20px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    margin: 0;
    line-height: 1.5em;
    background: rgba(0, 0, 0, 0.04);
}

table.shop_attributes td {
    padding: 8px 10px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    margin: 0;
    line-height: 1.5em;
}

table.shop_attributes td p{margin-bottom: 0;}

#reviews{padding: 30px 15px;}

.wpsm-one-half{
    position: relative;
    margin-bottom: 5px;
    float: left;
}

.wpsm-one-half {
    width: 48%;
}

.woo-left-rev-part{
    padding-right: 4%;
    border-right: 1px solid #EFEFEF;
}

#reviews h2.woocommerce-Reviews-title {
    clear: none;
    margin: 0 0 30px 0;
    font-size: 21px;
    font-weight: normal;
}

.woo-avg-rating h5 {
    margin: 30px 0 0 0;
    font-size: 40px;
    color: #434343;
}

.woo-avg-rating h5 span{
    font-size: 30px;
    color: #9EA0A8;
}

.woo-avg-rating .avg-rating-star {
    width: 120px;
}

.woo-avg-rating .star-rated{
    width: 0;
    height: 24px;
    position: relative;
    float: left;
    background: url(//beta.watchsignals.com/wp-content/plugins/watch-signals/assets/css/../img/woo/star@2x.png) repeat-x left -48px;
    background-size: 24px 72px;
}

.woo-avg-rating .num-rating{
    color: #707070;
    font-size: 14px;
    line-height: 0px;
    padding-left: 3px;
}

.woo-rating-bars .rating-bar {
    display: table;
    width: 100%;
    line-height: 11px;
}

.woo-rating-bars .rating-bar .star-rating-wrap {
    width: 100px;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    padding-top: 7px;
    font-size: 13px;
}

.rh_woo_star {
    color: #e0dadf;
    margin-bottom: 8px;
}

.rh_woo_star span{padding-right: 5px; display: none;}

.woo-rating-bars .rating-bar > div {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
}

.woo-rating-bars .rating-bar .rating-percentage-bar {
    height: 12px;
    border-radius: 0;
    background-color: #f3f3f3;
}

.woo-rating-bars .rating-bar .rating-percentage {
    height: 100%;
    background-color: #FFC2A6;
    display: block;
    border-radius: 0;
}

.woo-rating-bars .rating-bar .rating-count {
    width: 20px;
    color: #707070;
    font-size: 14px;
}

.ws-noreviews{    text-align: center;
    padding: 240px 140px;}
.ws-noreviews p{
    position: relative;
    float: left;
    color: #707070;
    font-weight: 300;
}
.ws-noreviews p span{
    position: absolute;
    left: -20px;
    top: 8px;
    font-size: 30px;
}

#reviews .comment-respond, .woo_desc_part .egg-container .well-lg {
    padding: 0;
    background: none transparent;
    border: none;
    box-shadow: none;
    margin-top: 40px;
}

#reply-title{margin-top: 20px;}

.comment-reply-title{
    font-weight: bold;
    color: #E09177;
}

.comment-customer{
    float: left;
}

.comment-date{
    float: right;
    color: #707070;
    font-size: 14px;
}

.re-photo img{margin-bottom: 10px;}

.commentlist .comment-text{
    padding-top: 10px;
    border-bottom: 1px solid #efefef;
}

.commentlist li:last-child .comment-text{
    border: none;
}

.comment-text .description{
    clear: both;
    color: #707070;
    font-size: 14px;
}

.comment-text .description p{
    margin-bottom: 10px;
}

.comment-text .rh_woo_star{
    margin-bottom: 0;
}

.comment-text .rh_woo_star .active{
    font-size: 16px;
}

.comment-text .meta span{
    color: #B1B1B1;
    font-size: 12px;
}

.single-product .comment-respond h3 {
    margin: 0 0 20px 0;
    padding: 0;
    text-transform: none;
    font-size: 18px;
    text-align: left;
}

#reviews .comment-respond p {
    margin:0;
}

.comment-notes{
    color: #999;
    font-size: 85%;
    line-height: 20px;
    margin-bottom: 20px !important;
}

p.stars{
    float: right;
}

p.stars span {
    width: 120px;
    height: 24px;
    position: relative;
    float: left;
    background: url(../img/woo/star@2x.png) repeat-x left 0;
    background-size: 24px 72px;
}

p.stars span a {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 0;
    padding-top: 24px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

p.stars span a.star-1 {
    width: 24px;
    z-index: 10;
}

p.stars span a.star-2 {
    width: 48px;
    z-index: 9;
}

p.stars span a.star-3 {
    width: 72px;
    z-index: 8;
}

p.stars span a.star-4 {
    width: 96px;
    z-index: 7;
}

p.stars span a.star-5 {
    width: 120px;
    z-index: 6;
}

p.stars span a:hover,
p.stars span a:focus {
    background: url(../img/woo/star@2x.png) repeat-x left -24px;
    background-size: 24px 72px;
}

p.stars span a.active {
    background: url(../img/woo/star@2x.png) repeat-x left -48px;
    background-size: 24px 72px;
}

.comment-form-comment label {
    display: block;
    margin: 0 0 5px 0;
    font-size: 95%;
}

.comment-respond textarea {
    width: 100%;
    border-radius: 0px;
    height: 130px;
    margin-bottom: 20px;
    border: 1px solid #45A6B6;
    padding: 5px 10px;
    color: #505050;
    clear: both;
}

.comment-respond .input-border{
    border: 1px solid #45a6b6;
    margin-bottom: 20px;
}

.comment-respond .rating-error{
    font-size: 13px;
    color: red;
    margin-bottom: 20px !important;
    display: none;
}

.review-photo .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.review-photo label {
    cursor: pointer;
    border: 1px dotted #45A6B6;
    padding: 10px;
    font-size: 14px;
    color: #B1B1B1;
    text-align: center;
}

.review-photo label img{
    width: 50px;
    margin-bottom: 10px;
}

.comment-respond input::placeholder{
    color: #B1B1B1;
}

.comment-respond textarea::placeholder{
    color: #B1B1B1;
}

.review-quality{
    padding: 0;
}

.review-quality h5{
    color: #707070;
    margin-bottom: 0;
}

.review-quality span{
    color: #B1B1B1;
    font-size: 12px;
}

.coupon-block{margin-top: 11px;}

.coupon-block .coupon-input{
    width: 90%;
    border: 1px solid #EFEFEF;
    padding-left: 5px;
    font-size: 15px;
}

.coupon-block .set-coupon, .coupon-block .edit-coupon, .coupon-block .update-coupon, .coupon-block .remove-coupon{
    float: right;
    margin-right: 10%;
    font-size: 13px;
    margin-top: 5px;
    color: #45A6B6;
}

.coupon-block .remove-coupon{
    color: #E09177;
}

.coupon-block .hidden{
    display: none;
}

.coupon-block .flip-button {
    white-space: nowrap;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    transition: background-color 250ms,border-color 250ms;
    width: 140px;
    color: #fff;
    background-color: #E09177;
    margin-top: 5px;
    overflow: hidden;
    height: 32px;
}

.coupon-block .flip-button .label {
    height: 30px;
    top: 0;
    padding: 5px 7px 6px;
    vertical-align: middle;
    border-radius: 0 5px 5px 0;
    -webkit-transition: background-color 250ms,border-color 250ms;
    background-color: #fff;
    text-align: right;
    background-clip: padding-box;
    border: solid 1px #E09177;
    position: absolute;
    right: 0;
    direction: rtl;
}

.coupon-block .flip-button .label>span {
    direction: rtl;
    display: block;
    font-size: 18px;
    line-height: 18px;
    width: 34px;
    color: #000;
}

.coupon-block .flip-button .label::before{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: -webkit-linear-gradient(52deg,#e63900 0,#b24723 49%,rgba(0,122,198,0) 50%,rgba(255,255,255,0) 100%) 0 6px no-repeat;
    background: linear-gradient(38deg,#e63900 0,#b24723 49%,rgba(0,122,198,0) 50%,rgba(255,255,255,0) 100%) 0 6px no-repeat;
    border-radius: 6px;
    content: "";
    height: 31px;
    position: absolute;
    right: 8px;
    top: 5px;
    width: 35px;
    z-index: 1;
    -webkit-transform: rotateZ(22deg) translate(0,-10px) scaleX(.9);
    transform: rotateZ(22deg) translate(0,-10px) scaleX(.9);
    -webkit-transition: -webkit-transform 250ms ease 0s,background-position 250ms ease 0s;
    transition: transform 250ms ease 0s,background-position 250ms ease 0s;
}

.coupon-block .flip-button .label::after {
    background-color: #E09177;
    bottom: 0;
    content: "";
    height: 30px;
    right: 28px;
    position: absolute;
    width: 111px;
    -webkit-transform: skew(26deg,0deg);
    transform: skew(26deg,0deg);
    -webkit-transition: right 250ms ease 0s;
    transition: right 250ms ease 0s;
}

.coupon-block .flip-effect:hover .label::after{
    right:39px;background-color:#E09177
}
.coupon-block .flip-effect:hover .label::before{
    background-position:0 0;-webkit-transform:rotateZ(15deg) translate(-8px,-3px) scaleX(1);transform:rotateZ(15deg) translate(-8px,-3px) scaleX(1)
}

.coupon-block .coupon-title{
    position: relative;
    line-height: 30px;
    padding-left: 7px;
    font-size: 11px;
}

.coupon-block .coupon-shown{
    border: 2px solid #E09177;
    width: 140px;
    border-radius: 5px;
    display: none;
}

.coupon-block .coupon-shown input{
    border: none;
    color: #000000;
    width: 130px;
    padding: 2px 10px 1px 10px;
}

#reviews .comment-respond input[type="text"], #reviews .comment-respond input[type="email"] {
    height: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    border: none;
}

#post-review{
    color: #ffffff !important;
    background: #45A6B6;
    padding: 15px 60px !important;
    cursor: pointer;
    width: auto !important;
    margin-top: 30px;
    font-size: 30px;
    border-radius: 5px !important;
}

.commentlist li{display: initial;}

.wpsm-column-last {
    margin-right: 0!important;
    clear: right;
    padding-left: 15px;
}

.p-foot{    border-top: 1px solid #DDD;
    padding-top: 40px;}

.p-desktop-hide{display: none;}

.notify-area{display: block;}

/*Mobile version*/
@media (max-width:480px){
	.notify-area{display: none;}
	.notify-area-mobi{display: block;}
    .product-page{padding: 20px;}
    .p-mobile-hide{display: none;}
    .p-desktop-hide{display: block;}
    .p-left-top .pro-name{text-align: center;    color: #555555;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;line-height: 25px;
    margin-bottom: 20px;}
    .watch-img{}
    .watch-img img{border-radius: 50%; border: 1px solid #E09177;}
    .p-price{border: none; box-shadow: none; padding: 0;}
    .p-price .price{line-height: 25px;     margin-bottom: 15px; padding-right: 0;}
    .p-price .price span{text-align: center; color: #E09177; font-size: 32px;
    padding: 0;}
    .col-mb-half{width: 50%; float: left;}
    .p-price .col-mb-half{border: 1px solid #E09177; padding: 10px; margin-top: 10px;}
    .p-price .col-mb-half:first-child{border-right: none;}
    .p-price .col-mb-half i{font-size: 20px;}
    .price-range{    font-size: 20px;
    color: #45A6B6;
    font-weight: 100;
    border-bottom: 1px solid;
    letter-spacing: 1px; line-height: 50px;}
    .compare-price-list .watch-name{max-height: 60px; overflow: hidden;}
    .compare-price-list .watch-name a{color: #707070;}
    .pro-item-icons{clear: both; line-height: 19px;}
    .p-button{width: 100%;}
    .p-content{padding: 0;}
    .nav-tabs{border: none;}
    .p-content .nav li {width: 33%; border: none; border-bottom: 2px solid #EFEFEF;}
    .p-content .nav li a{font-size: 15px}
    .p-content .nav li.active {border-color: #FF7346;}
    .p-content .nav li a.active{color: #222222;}
    .watch-description {padding: 10px;}
    .watch-description h3{font-size: 20px;}
    table.shop_attributes th{width: 45%;}
    .compare-price-item{float: left; width: 100%;}
    .compare-item{margin-top: 15px; border: 1px solid #F3F5F9;padding: 10px 0;}
    .p-foot{padding-top: 20px; clear: both;}
    .p-foot item{margin: 5px;}
    .compare-item-left{width: 60%; float: left;}
    .compare-item-right{width: 40%; float: right; padding-right: 10px;}
    .compare-price-list{float: left;}
    .compare-price-list .watch-review {text-align: left !important;}
    .rh_woo_star .active{font-size: 15px;}
    .rh_woo_star{float: left; margin-right: 15px;}
    .num-reviews{font-size: 15px;
        line-height: 32px; padding-left: 3px;}
    .compare-price-list .watch-source {font-size: 14px; font-weight: 600; line-height: 32px; text-align: right !important; padding: 0}
    .compare-price-list .watch-price{font-size: 18px; font-weight: 600; line-height: 25px; text-align: right !important; padding: 0; color: #E09177}
    .price-history-modal .close{text-align: right; padding: 10px 15px;}
    .price-history-modal .close span{font-size: 40px;}

    .modal-body{padding: 1em 0;}
    .popup-price h3{    letter-spacing: 2px;
    line-height: 10px;
    }
    .popup-price .small-text{font-size: 14px;
    font-weight: 100;}
    .popup-price .current-price{margin-top: 30px;}
    .popup-price .current-price .price{margin-top: 5px;}
    .popup-price .current-price .price span{font-size: 34px;
    font-weight: 900;
    letter-spacing: 2px;
    background-color: #F3F5F9;
    color: #707070;
    padding: 7px 19px;}
    .popup-price .current-price .price-chart-menu{
    margin: 10px 30px 20px 30px;
    border-bottom: 1px solid #f0f0f0;}
    .popup-price .current-price .price-chart-menu a{color: #CCCCCC;
    line-height: 35px;
    margin-left: 20px;
    padding: 0 3px;
    padding-bottom: 7px;
    text-decoration: none;}
    .popup-price .current-price .price-chart-menu a.active{border-bottom: 2px solid #E09177; color: #242134;}
    .signal-bars{    width: 38%;
        height: 27px;
        float: left;
        margin-bottom: 10px;}
    .signal-bars .bar {
        width: 12%;}


    .wpsm-one-half{width: 100%; padding-top: 10px;}

    #reviews{
        padding: 0;
    }

    .woo-left-rev-part{padding: 0; border: none;}
    .woo-rating-bars .rating-bar .star-rating-wrap{width: 120px;}
    .review-quality{
        float: left;
        width: 70%;
    }
    .rating-quality{
        float: right;
        padding: 0;
        width: 30%;
        padding-top: 5px;
    }
    .woo-avg-rating{margin-bottom: 10px;}
    .ws-noreviews{padding: 0;}
    .ws-noreviews p{
        float: none;
    }
    .ws-noreviews p span{display: none;}

    .coupon-block{margin: 5px 0;}
}




















