.ws-container{
	padding:20px;
}
.woocommerce .products{
	padding: 0 11px !important;
}
.ws-search-results-list .product {
    padding: 12px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
}
.ws-search-total{
	margin:30px 0;
}
.ws-search-total h1{
	font-family: 'Lato', sans-serif;	
	font-size:40px;
	font-weight: normal;
	letter-spacing: 1px;
}
.ws-adsearch-topkeywords{border-right:1px solid #cdd4d8;}
#ws-search-pagination{margin: 20px 0 0 0;}
.simple-pagination ul{float:none;}
.view-area{text-align:right;}
.view-item:hover{color:#E09177;cursor:pointer;}
.view-area label{margin: 8px 0 0 0;}
.view-area span{margin: 5px 5px 0;font-size: 20px;}
.view-selected{color:#E09177;}

ol.numeration{
	margin: 0 0 0 20px;
    padding: 0;
}
ol.numeration li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 16px;
}
ol.numeration a.link {
    color: #797979;
    text-decoration: none;
}
.ws-adsearch-container label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.ws-adsearch-container hr {
    margin-top: 17px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #cdd4d8;
	width: 100%;
    background: none;
}
#ws-brand-dropdown{
	display:none;
}
#filters-container{
	width: 100%;
	margin-bottom:15px;
	position:relative;
}
.filters-blockUI{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	z-index: 10000;
	cursor:wait;
	background: #fff;
	opacity: 0.3;
}
.ws-results-list{width:100%;}
.cat_for_grid span{
	float: left;    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cat_for_grid h5{
	font-weight: bold;
	font-size: 17px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #45A6B6;
    padding: 0 5px;
	margin:0;
	text-align: left;
}
.cat_for_grid h3{
	font-size: 25px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #45A6B6;
    padding: 0;
	margin:0;
	text-align: left;
}
.cat_for_grid h3 a{color: #707070;}
.cat_for_grid h3 a:hover{text-decoration:none;}
.text-ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.itemgrid .cat_for_grid h3{
	padding-bottom: 15px;
	border-bottom: 1px solid #e6eaec;
}
.cat_for_grid h5>a{
	color: #707070;
}
.cat_for_grid h5>a:hover{
	text-decoration:none;
}
.cat_for_grid p{
	font-size: 14px;
    text-align: left;
    padding: 0 5px;
    margin: 10px 0 0 0;
	display: grid;
}
.cat_for_grid h4{
	color: #45a6b6;
    text-align: left;
    padding: 5px;
    margin: 10px 0 0 0;
    width: 100%;
	font-weight: bold;
}
.itemgrid .cat_for_grid h4{
	padding:0;
	font-size: 40px;
    letter-spacing: 3px;
	font-weight: bold;
}
.cat_for_grid .text{
	font-size: 15px;
    margin-top: 5px;
	width:100%;
}
.article-rating{
	display: inline-block;
    width: 100%;
    text-align: left;
    color: #e6d502;
    padding: 0 5px;
    font-size: 12px;
    margin-bottom: 10px;
}
.text-muted{
	padding: 0 5px;
    text-align: left;
    font-size: 13px;
    margin: 0;
}
.text-info{
	margin: 0;
    padding: 0 5px;
    text-align: left;
}
.label-tag{
	cursor:pointer;
	padding: 7px 10px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
	display: inline-block;
	margin: 6px 6px 0 0;
	font-size:14px;	
	background-color: #B1B1B1;
	border-radius: 0;
}
.label-tag:hover{
	color: #fff;
	background:#E09177;
}
.label-tag .delete{
	margin-left: 10px;
}
.ws-quick-filters{margin-bottom:15px;width:100%;}
.light-theme .current{
	background: #45A6B6;
	border-color: #398996;
}
.header-search-area{position: relative;}
.tab-wrapper{width: 85% !important;bottom: -78px !important;border:1px solid #E09177 !important;}
.tap-element{padding: 10px 0 !important;font-size: 15px !important;}
/*
Filter popup
*/
.filter-fixed{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1041;
}
.filter-fixed.filter-header-container{z-index: 1050;}
.filter-header-container{
	border-bottom: 1px solid #cdd4d8;
    border-top: 1px solid #cdd4d8;
    border-left: 1px solid #cdd4d8;
	padding: 0 !important;	
    position: relative;
    background: #fff;
    margin: 0;
}
.filter-header{
	-webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 1px solid #cdd4d8;
    color: #81949c;
    display: table-cell;
    padding: 13px 0;
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
}
.filter-header:hover{
	cursor:pointer;
	color: #fff;
	background-color: #E09177;
}
.filter-header-chosen{color: #fff;background-color: #E09177;}
.filter-arrow{    
    margin-left:10px;    
}
.filters-tag{width:100%;}
.filter-overlay{
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1040;
	opacity: 0.65;
}
.filter-popup{
	display:none;
	z-index: 1050;
    position: relative;
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}
.filter-footer-left{display: table;height: 60px;}
.save-filters{display: table-cell;vertical-align: middle;}
.save-filters:hover{color:#E09177;cursor:pointer;}
.filter-footer-btn{margin: 10px;padding: 10px 50px;border-radius: 0;box-shadow: none !important;}
.search-filter-btn{background:#45A6B6;border-color:#45A6B6;}
.search-filter-btn:hover,.search-filter-btn:active{background:#E09177 !important;border-color:#E09177 !important;}
.filter-content{padding-top: 10px;height: 80vh;margin-bottom:50px;}
.filter-content h4{font-size: 1.2rem;font-weight: 500;}
.filter-item-chosen{margin-bottom: 50px;}
.filter-popular-items{
	list-style: none;
    margin: 0;
    padding: 0;
}
.filter-popular-items li{
	display: inline-block;
    float: left;
    margin: 10px 20px 10px 0;
    padding: 5px 10px;
    background: #B1B1B1;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.filter-popular-items li:hover{
	color: #fff;
	background:#E09177;
	cursor:pointer;
}
.filter-group{	
}
.filter-closed .fa-chevron-up{
	display:none;
}
.filter-opened .fa-chevron-down{
	display:none;
}
.filter-group-name{
	cursor: pointer;
	padding: 10px 10px 10px 15px;
}
.filter-group-toggle{
	padding: 0 10px 10px 15px;
	max-height: 300px;
    overflow-y: auto;
}
.filter-closed .filter-group-toggle{
	display:none;
}
.filter-group-toggle .custom-checkbox .custom-control-label::before {
     outline:none !important;box-shadow: none !important;border-radius: 0;
}
.filter-group-toggle .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #E09177;
}

.right-dropdown-container{
	border-left: 1px solid #b1b1b1;overflow: hidden;
}
.condition-checkbox{outline:none !important;cursor:pointer;margin: 5px 0;}
.condition-checkbox::before{background-color: #d3d3d3;border-radius:0;box-shadow: none !important;}
.condition-checkbox::after{background-color: #d3d3d3;border-radius:0;}
.custom-checkbox .custom-control-input:checked~.condition-checkbox::before {
    background-color: #E09177;
}
.custom-checkbox .custom-control-input:checked~.condition-checkbox::after {
    background-color: #E09177;
}
.filter-popup-footer{border-top: 1px solid #b1b1b1;}
@media only screen and (max-width: 767px) {
	.ws-quick-filters .form-group{margin: auto;text-align: center;}
	.ws-quick-filters .view-area{width: 90%;margin: auto;text-align: center;padding: 20px;}
	.ws-quick-filters .view-area span{float: none;}
	.ws-quick-filters .view-area label{float: none;}
	.item-list-mobile{width: auto;}
}